@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --color-chat-feed: #f9effc;
  --color-message-theirs: #f6e5fb;
  --color-message-yours: #c158e3;
  --color-button-attach-file: #a307d5;
  --color-button-send: #efac54;
  --color-button-logout: #707070;
  --color-background-settings: #f6f6f6;
  --color-online-status-indicator: #00ff00;
}

/* .light-mode {
  --color-background-chat-feed: #f9effc;
  --color-text-all: #2b2b2b;
  --color-subtext: #707070;
  --color-friend-name: #2b2b2b;
  --color-status-text: #707070;
  --color-message-background-friend: #f6e5fb;
  --color-message-background-user: #c158e3;
  --color-message-text-friend: #2b2b2b;
  --color-message-text-user: #fefefe;
  --color-button-attach-image: #a307d5;
  --color-button-send-message: #efac54;
  --color-background-settings: #f6f6f6;
} */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Login Page */

.section,
.container__form {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--color-chat-feed);
  padding-bottom: 60px;
  position: relative;
}

.section__container {
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
}

.container__heading {
  font-size: 2rem;
}

.container__subheading {
  font-size: 1.5rem;
  color: #707070;
  text-align: left;
}

.container__form {
  margin: 2.5rem 0;
}

/* .form__input__email,
.form__input__password,
.form__button {
  display: block;
  margin-bottom: 1.5rem;
} */

p,
.error__message,
.container__text {
  text-align: center;
}

p {
  font-size: 1.5rem;
  color: #707070;
  margin-bottom: 1rem;
}

/* .form__input__email {
  padding: 1rem 0 1rem 4rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.1),
    -1px 1px 1px 1px rgba(112, 112, 112, 0.1);
  background: url('../assets/mail.svg') no-repeat;
  background-position: 0.5rem;
}

.form__input__password {
  padding: 1rem 0 1rem 4rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.1),
    -1px 1px 1px 1px rgba(112, 112, 112, 0.1);
  background: url('../assets/key.svg') no-repeat;
  background-position: 0.5rem;
} */

.form__input {
  padding: 1rem 0 1rem 4rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.1),
    -1px 1px 1px 1px rgba(112, 112, 112, 0.1);
  display: block;
  margin-bottom: 1.5rem;
}

.email {
  background: url('../assets/mail.svg') no-repeat;
  background-position: 0.5rem;
}

.password {
  background: url('../assets/key.svg') no-repeat;
  background-position: 0.5rem;
}

.form__button {
  margin: 40px 0 10px;
  font-family: 'Open Sans';
  border: none;
  border-radius: 5rem;
  padding: 1.3rem 0;
  background-color: var(--color-button-attach-file);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.error__message {
  color: red;
  margin-bottom: 20px;
}

.container__text {
  font-size: 1.3rem;
  color: #707070;
  margin-bottom: 1rem;
}

.container__backlink {
  color: #a307d5;
  text-decoration: none;
}

@media (min-width: 768px) {
  .section,
  .container__subheading {
    text-align: center;
  }

  .section__container {
    width: 30rem;
  }

  .container__subheading {
    margin: 1rem 0;
  }
}
