* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #a307d5;
  --darkpurple: #442e4b;
  --gray: #707070;
  --lightgray: rgba(112, 112, 112, 0.65);
  --goldenorange: #e8aa15;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading__section {
  display: block;
  text-align: left;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
}

.subheading {
  font-size: 1.5rem;
  color: var(--gray);
  text-align: left;
}

.form__password {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin: 10px 0;
  padding: 12px 40px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.1),
    -1px 1px 1px 1px rgba(112, 112, 112, 0.1);
  border-radius: 0.25rem;
}

.email {
  background: url('../assets/email.svg') no-repeat;
  background-position: 0.5rem;
}

.password {
  background: url('../assets/key.svg') no-repeat;
  background-position: 0.5rem;
}

.form__button {
  width: 300px;
  height: 50px;
  margin: 10px 0;
  background-color: var(--purple);
  border: none;
  border-radius: 5rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.7rem;
}

.backlink {
  color: var(--gray);
  font-size: 1.5rem;
  text-align: center;
}

.text__resend {
  color: var(--gray);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.resend {
  color: var(--purple);
}
