* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #a307d5;
  --darkpurple: #442e4b;
  --gray: #707070;
  --lightgray: rgba(112, 112, 112, 0.65);
  --goldenorange: #efac54;
  --form__input__bg: #e8f0fe;
}

.main__container,
.main__section,
.form__registration {
  display: flex;
  flex-direction: column;
}

.main__container,
.main__section {
  justify-content: center;
  align-items: center;
}

.main__container {
  height: 100vh;
  background-color: var(--offwhite);
  width: 100%;
}

.main__section {
  width: 70%;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
}

.form__registration {
  /* width: 300px; */
}

.form__input {
  margin: 7px 0;
  padding: 12px 40px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.1),
    -1px 1px 1px 1px rgba(112, 112, 112, 0.1);
  border-radius: 0.25rem;
}

.username {
  background: url('../assets/user.svg') no-repeat;
  background-position: 0.5rem;
  background-color: #fff;
}

.email {
  background: url('../assets/email.svg') no-repeat;
  background-position: 0.5rem;
  background-color: #fff;
}

.password {
  background: url('../assets/key.svg') no-repeat;
  background-position: 0.5rem;
  background-color: #fff;
}

.form__button {
  /* width: 300px; */
  height: 50px;
  margin: 40px 0 10px;
  background-color: var(--purple);
  border: none;
  border-radius: 5rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
}
.error__message {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

.terms__text,
.login__text {
  margin-top: 20px;
}

.terms__text {
  width: 300px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--gray);
}

.login__text {
  font-size: 1.5rem;
  color: var(--gray);
}

.backlink {
  margin-left: 5px;
  color: var(--purple);
}
