* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

.registration {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
}

input {
  margin: 10px;
  padding: 10px 40px;
  border: none;
  box-shadow: -1px 2px 8px 2px lightgray;
}

.username {
  background: url('../assets/user.svg') no-repeat;
  background-position: 0.5rem;
}

.icon {
}

svg path {
  fill: #a307d5;
}
.email {
  background: url('../assets/email.svg') no-repeat;
  background-position: 0.5rem;
}

.password {
  background: url('../assets/key.svg') no-repeat;
  background-position: 0.5rem;
}

/* .icon {
  position: absolute;
  left: 5px;
  z-index: 5;
  font-size: 2rem;
} */

.submit {
  height: 50px;
  margin: 10px;
  background-color: #a307d5;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
}
